<div >
    <div style="display: flex; justify-content: space-around; height: 300px;">
        <div style="width: 50%;" class="graph" >
            <canvas id="scatterChart"></canvas>
        </div>
        
        <div style="width: 50%;" class="graph">
            <canvas id="barChart"></canvas>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around; height: 300px;">
        <div style="width: 50%;" class="graph"><canvas id="timeChart"></canvas></div>
    </div>
</div>
